In [ ]:
import itertools
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [ ]:
products=[]
prices=[]
ratings=[]
num_of_ratings=[]

In [ ]:
url_list=[]
for i in range(1,41):
  url=f"https://www.flipkart.com/laptops/pr?sid=6bo%2Cb5g&otracker=categorytree&page={i}"
  url_list.append(url)
#url_list

In [ ]:
url='https://www.flipkart.com/laptops/pr?sid=6bo%2Cb5g&otracker=categorytree&page=1'
text=requests.get(url)
text.status_code

200

In [ ]:
for url in url_list:
  text=requests.get(url)
  text.status_code
  soup=BeautifulSoup(text.content, "html")
  
  for a in soup.findAll('a',href=True, attrs={'class':'_1fQZEK'}):
    try:
      name=a.find('div', attrs={'class':'_4rR01T'})
      price=a.find('div', attrs={'class':'_30jeq3 _1_WHN1'})
      rating=a.find('div', attrs={'class':'_3LWZlK'})
      numofrating=a.find('span',attrs={'class':'_2_R_DZ'})
      products.append(name.text)
      prices.append(price.text)
      ratings.append(rating.text) 
      num_of_ratings.append(numofrating.text)
    except AttributeError:
      k='0'
      ratings.append(k)
      num_of_ratings.append(k)
      continue
flipkart_data=pd.DataFrame({"ProductName":products,"Price":prices,"Rating":ratings,"Number of Ratings":num_of_ratings})

In [ ]:
flipkart_data=flipkart_data.loc[flipkart_data['Rating']!='0']
flipkart_data

,ProductName,LaptopCompanyName,purchases,Number of Ratings,Rating
0,HP Core i3 11th Gen - (8 GB/512 GB SSD/Windows...,HP,147,147 Ratings & 20 Reviews,4.0
1,acer Aspire 7 Ryzen 5 Hexa Core AMD R5-5500U -...,acer,"4,449","4,449 Ratings & 558 Reviews",4.0
2,HP Athlon Dual Core 3050U - (8 GB/512 GB SSD/W...,HP,215,215 Ratings & 24 Reviews,4.0
3,ASUS VivoBook 14 (2022) Ryzen 3 Dual Core AMD ...,ASUS,"2,405","2,405 Ratings & 286 Reviews",4.0
4,RedmiBook 15 Core i3 11th Gen - (8 GB/256 GB S...,RedmiBook,"2,728","2,728 Ratings & 312 Reviews",4.0
...,...,...,...,...,...
719,Lenovo Legion 5 Ryzen 5 Hexa Core 4600H - (8 G...,Lenovo,483,483 Ratings & 49 Reviews,4.0
720,Lenovo IdeaPad 3 Core i3 10th Gen - (4 GB/256 ...,Lenovo,795,795 Ratings & 66 Reviews,4.0
721,DELL Vostro Core i3 11th Gen - (8 GB/256 GB SS...,DELL,522,522 Ratings & 58 Reviews,4.0
722,DELL Inspiron Core i5 11th Gen - (4 GB/1 TB HD...,DELL,127,127 Ratings & 11 Reviews,4.0
723,DELL Inspiron Core i5 11th Gen - (8 GB/512 GB ...,DELL,29,29 Ratings & 2 Reviews,4.0

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
flipkart_data['purchases']=[sp.split()[0] for sp in flipkart_data['Number of Ratings']]
flipkart_data['LaptopCompanyName']=[sp.split()[0] for sp in flipkart_data['ProductName']]
flipkart_data=flipkart_data[['ProductName','LaptopCompanyName','purchases','Number of Ratings','Rating']].reset_index(drop=True)
flipkart_data.head()

,ProductName,LaptopCompanyName,purchases,Number of Ratings,Rating
0,HP Core i3 11th Gen - (8 GB/512 GB SSD/Windows...,HP,147,147 Ratings & 20 Reviews,4.0
1,acer Aspire 7 Ryzen 5 Hexa Core AMD R5-5500U -...,acer,"4,449","4,449 Ratings & 558 Reviews",4.0
2,HP Athlon Dual Core 3050U - (8 GB/512 GB SSD/W...,HP,215,215 Ratings & 24 Reviews,4.0
3,ASUS VivoBook 14 (2022) Ryzen 3 Dual Core AMD ...,ASUS,"2,405","2,405 Ratings & 286 Reviews",4.0
4,RedmiBook 15 Core i3 11th Gen - (8 GB/256 GB S...,RedmiBook,"2,728","2,728 Ratings & 312 Reviews",4.0

In [ ]:
flipkart_data.dtypes

ProductName          object
LaptopCompanyName    object
purchases            object
Number of Ratings    object
Rating               object
dtype: object

In [ ]:
import re
flipkart_data['purchases']=[re.sub(",", "", ele) for ele in flipkart_data['purchases']]
flipkart_data['purchases']=flipkart_data['purchases'].astype(int)

In [ ]:
#flipkart_data['Rating']=[re.sub(",", "", ele) for ele in flipkart_data['Rating']]
flipkart_data['Rating']=flipkart_data["Rating"].apply(lambda x: format(float(x),".1f"))

In [ ]:
flipkart_data.head()

,ProductName,LaptopCompanyName,purchases,Number of Ratings,Rating
0,HP Core i3 11th Gen - (8 GB/512 GB SSD/Windows...,HP,147,147 Ratings & 20 Reviews,4.0
1,acer Aspire 7 Ryzen 5 Hexa Core AMD R5-5500U -...,acer,4449,"4,449 Ratings & 558 Reviews",4.0
2,HP Athlon Dual Core 3050U - (8 GB/512 GB SSD/W...,HP,215,215 Ratings & 24 Reviews,4.0
3,ASUS VivoBook 14 (2022) Ryzen 3 Dual Core AMD ...,ASUS,2405,"2,405 Ratings & 286 Reviews",4.0
4,RedmiBook 15 Core i3 11th Gen - (8 GB/256 GB S...,RedmiBook,2728,"2,728 Ratings & 312 Reviews",4.0

In [ ]:
purchasedata=pd.DataFrame(flipkart_data['purchases'].groupby(flipkart_data['LaptopCompanyName']).sum())
purchasedata.columns

Index(['purchases'], dtype='object')